body {
  padding: 15px;
}

label {
  width: 50%;
  display: inline-block;
  text-align: right;
}
span {
  color: forestgreen;
}
button {
  width: 100px;
  font-size: 18px;
  background-color: rgb(121, 124, 121);
  border-radius: 5px;
  text-align: center;
  height: 50px;
  border: none;
  cursor: pointer;
}
input {
  height: 30px;
  width: 50%;
  float: right;
}

.row {
  margin-top: 10px;
}
