.selector-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.selector-list a {
  font-size: 11px;
  cursor: pointer;
  margin-left: 5px;
}
.selector-list a:hover,
.selector-list a.addon-selected {
  font-weight: bolder;
  border-bottom: solid 0.8px;
}

.buy-percentage {
  position: absolute;
  background: #0073dd !important;
  color: #fff;
  top: 1px;
  right: 66px;
  z-index: 50;
  width: 64px;
  display: block;
  height: 42px;
  padding: 12px 6px;
}
