.info_floatting {
  position: fixed;
  right: 0px;
  width: 300px;
  top: 150px;
  padding-top: 20px;
  padding-right: 10px;
  background: #fff;
}

.info_floatting div {
  border-bottom: #ddd dashed 1px;
}
.info_floatting h3 {
  text-align: center;
  width: 100%;
}
.info_floatting.left-panel {
  right: initial;
  left: 10px;
}
.wallet-page {
  display: none;
}
@media only screen and (max-width: 900px) {
  .info_floatting {
    display: none;
  }
}
